body {
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px 20px;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    letter-spacing: 1px;
    
    border-left: 10px solid #f95959;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.img {
    margin-top: 20px; 
}
.image-container {
    position: relative;
    display: inline-block;
    width: 400px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 24px;
    font-weight: 500;
    padding: 60px 20px 20px 20px;
    text-align: left;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
}
