*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}   

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
    width: auto;
}

.content {
    background-color: #faf8f8;
    display: flex;
    flex-wrap: nowrap;  
    flex-direction: column;  
    align-items: center  
}

.content1 {
    position: relative;
    width: 350px;
}

.content1 img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
    display: block;
}

.content1 button {
    position: absolute;
    top: 10px;
    right: 10px;   
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(0,0,1);
    border:solid 1px white;
    color: rgb(253, 253, 253);
    opacity: calc(0.75);

}


.content2 img {
    margin-top: 30px;
    display: block;
    margin-right: 300px;
    width: 45px;
    border-radius: 50%;
}

.content2 {
    position: relative;
    display: flex;  
    flex-direction: row;  
    align-items: center; 
    width: 350px;
}
 
.content2 .name {
    margin-top: 30px;
    position: absolute;
    margin-left: 60px;
    font-weight: 400px;
}

.date {
    position: relative;
    display: flex;  
    flex-direction: row;  
    width: 350px;
    margin-top: 20px;
    opacity: calc(0.4);
}

.ex {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 375px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
}

.this {
    align-items: center;
    width: 350px;
    margin-top: 20px;
    opacity: calc(0.6);
}