.main{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border: 1px solid ;
    flex-wrap: wrap;
    align-content:space-evenly ;
    height: 300px;
  
  color: aliceblue;


}
.box{
    width: 100%;
  
   background-color:#2C3E50;
   padding-top: 20px;
   height: 110px;
 
}
*{
    box-sizing: border-box;
    text-align: center;
}
.small{
    width: 50%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
     align-content: space-evenly;
}
.nho{
   width: 47%;
  height: 50px ;

background-color: #2C3E50;
display: flex;
text-align: center;
align-items: center;
justify-content: center;


}
.big{
    width: 50%;
    height: 250px;
    display: flex;
    align-content: space-evenly;
    flex-wrap: wrap;
    justify-content: space-between;
   
}