.ten {
        background-color: rgb(60, 139, 230);
        padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue
}

.se{
    display: inline-block;
   background-color:rgb(59, 205, 118) ;
   width: 49%;
   margin:10px 10px 10px 1px;
   padding: 10px;  
}

.content{
    background-color: rgb(210, 94, 17);  
    padding: 10px;
    width: 100%;
    margin: 10px 10px 10px 1px;
    padding: 10px;   
}

section{
    display: flex;
    height: 25em;  
}

.footer{
    background-color: rgb(174, 46, 172);
    padding: 10px;
}
